@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
@import "tailwindcss";

@theme {
    --font-vig:'Viga','sans-serif';
    --font-head:"Exile", system-ui;
}


@plugin "daisyui" {
    themes: light --default, dark --prefersdark, grumpyaurora;
}


@plugin "daisyui/theme" {
    name: "grumpyaurora";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #08a99;
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(62% 0.194 149.214);
    --color-primary-content: oklch(98% 0.018 155.826);
    --color-secondary: oklch(54% 0.245 262.881);
    --color-secondary-content: oklch(97% 0.014 254.604);
    --color-accent: oklch(57% 0.245 27.325);
    --color-accent-content: oklch(97% 0.013 17.38);
    --color-neutral: oklch(37% 0.034 259.733);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(65% 0.241 339.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
